{
  "openapi": "3.1.0",
  "info": {
    "title": "WordZen API",
    "description": "API Documentation",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api-wordzen.stnapps.com",
      "description": "Production Server"
    }
  ],
  "tags": [
    {
      "name": "Content",
      "description": "View courses"
    },
    {
      "name": "Favorites",
      "description": "Favorites content"
    },
    {
      "name": "Content",
      "description": "View cards"
    },
    {
      "name": "Auth",
      "description": "Authentication api"
    },
    {
      "name": "Report",
      "description": "View reports"
    },
    {
      "name": "Quiz",
      "description": "User interaction with content"
    },
    {
      "name": "Content",
      "description": "View modules"
    },
    {
      "name": "Training",
      "description": "Swipe learning"
    },
    {
      "name": "Management",
      "description": "Content management"
    },
    {
      "name": "Admin",
      "description": "Admin controller"
    },
    {
      "name": "Upload files",
      "description": "File management"
    }
  ],
  "paths": {
    "/api/v1/manager/modules/{moduleId}": {
      "get": {
        "tags": [
          "Management"
        ],
        "summary": "Get modules by id",
        "operationId": "getById",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseModuleView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "put": {
        "tags": [
          "Management"
        ],
        "summary": "Update modules",
        "operationId": "update",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseModuleView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Management"
        ],
        "summary": "Delete modules",
        "operationId": "delete",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/manager/courses/{courseId}": {
      "get": {
        "tags": [
          "Management"
        ],
        "summary": "Get course by id",
        "operationId": "getById_1",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCourseView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "put": {
        "tags": [
          "Management"
        ],
        "summary": "Update course",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CourseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCourseView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Management"
        ],
        "summary": "Delete course",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/manager/cards/{cardId}": {
      "get": {
        "tags": [
          "Management"
        ],
        "summary": "Get cards by id",
        "operationId": "getById_2",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCardView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "put": {
        "tags": [
          "Management"
        ],
        "summary": "Update card",
        "operationId": "update_2",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCardView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Management"
        ],
        "summary": "Delete card",
        "operationId": "delete_2",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/training": {
      "post": {
        "tags": [
          "Training"
        ],
        "summary": "Set training by module",
        "operationId": "setTraining",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrainingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/quiz/modules/{moduleId}": {
      "get": {
        "tags": [
          "Quiz"
        ],
        "summary": "Get quiz by module",
        "operationId": "getQuiz",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseQuizWrapperResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "tags": [
          "Quiz"
        ],
        "summary": "Set quiz by module",
        "operationId": "setQuiz",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnswerQuizRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseQuizWrapperResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/pomodoro/courses/{courseId}": {
      "get": {
        "tags": [
          "Pomodoro"
        ],
        "summary": "Get pomodoro by course id",
        "operationId": "getPomodoroByCourseId",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePomodoroResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "tags": [
          "Pomodoro"
        ],
        "summary": "Set pomodoro by course id",
        "operationId": "setPomodoro",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PomodoroRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePomodoroResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Pomodoro"
        ],
        "summary": "Delete pomodoro by course id",
        "operationId": "deletePomodoro",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/payment/google/subscribe": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Subscribe through Google",
        "operationId": "subscribing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGoogleSubscription"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/payment/click/verify": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Verify token for Click",
        "operationId": "verify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifySubscription"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/payment/click/create_token": {
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Create token for Click",
        "operationId": "createToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscription"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNewTokenCard"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/manager/modules": {
      "post": {
        "tags": [
          "Management"
        ],
        "summary": "Create modules",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseModuleView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/manager/file/tmp": {
      "post": {
        "tags": [
          "Upload files"
        ],
        "operationId": "loadTmpFile",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "multipartFile": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseFileDataView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/manager/file/generate": {
      "post": {
        "tags": [
          "Upload files"
        ],
        "operationId": "generate",
        "parameters": [
          {
            "name": "prompt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseGeneratedLinks"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/manager/courses": {
      "get": {
        "tags": [
          "Management"
        ],
        "summary": "Get courses by author",
        "operationId": "getAll",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCoursesView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "tags": [
          "Management"
        ],
        "summary": "Create course",
        "operationId": "create_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CourseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCourseView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/manager/cards": {
      "post": {
        "tags": [
          "Management"
        ],
        "summary": "Create card",
        "operationId": "create_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCardView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/library/order": {
      "post": {
        "tags": [
          "Library order"
        ],
        "operationId": "createLibraryOrderId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LibraryOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLibraryOrderResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/favorites/cards": {
      "get": {
        "tags": [
          "Favorites"
        ],
        "summary": "Get cards favorites",
        "operationId": "getCardsFavorites",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCardsView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "tags": [
          "Favorites"
        ],
        "summary": "Add card to favorites",
        "operationId": "addCardToFavorites",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardFavoritesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/courses/library/{courseId}": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Add course to library",
        "operationId": "addCourseToLibrary",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Content"
        ],
        "summary": "Remove course from library",
        "operationId": "removeCourseToLibrary",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/courses/library/{courseId}/miniapp": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Add course to library for MiniApp",
        "operationId": "addToLibraryForMiniApp",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Client-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/courses/library/{courseId}/google": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Add course to library for google pay",
        "operationId": "addToLibraryForGoogle",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddToLibraryGoogleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/auth": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Get user data by token",
        "operationId": "authorization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseUserView"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Auth"
        ],
        "summary": "(DEV) Delete account",
        "operationId": "delete_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/auth/telegram/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Get token by telegram initData",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TelegramLoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseTokenDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/reset": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Reset token",
        "operationId": "reset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/registration": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Registration account",
        "operationId": "registration",
        "parameters": [
          {
            "name": "withoutConfirmation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseTokenDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Refresh token",
        "operationId": "refresh",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseTokenDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Get token by account",
        "operationId": "login_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserLoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseTokenDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/google/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Get token by google token",
        "operationId": "login_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseTokenDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/confirmation": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Confirmation email",
        "operationId": "confirmation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailConfirmationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/change_password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Change password",
        "operationId": "changePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegistrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/analytics/sessions": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "(DEV) View sessions",
        "operationId": "getSession",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListAnalyticsSessionTMP"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Add session",
        "operationId": "addSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionsAnalytics"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/training/modules/{moduleId}": {
      "get": {
        "tags": [
          "Training"
        ],
        "summary": "Get training by module",
        "operationId": "getTrainingByModule",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListTrainingResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Training"
        ],
        "summary": "Delete progress by module",
        "operationId": "deleteTraining",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/subscription": {
      "get": {
        "tags": [
          "Subscription"
        ],
        "summary": "Subscription information",
        "operationId": "info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSubscriptionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Subscription"
        ],
        "summary": "Delete subscription",
        "operationId": "delete_4",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/report": {
      "get": {
        "tags": [
          "Report"
        ],
        "summary": "Get report",
        "operationId": "getReport",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReportResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/report/{userUid}": {
      "get": {
        "tags": [
          "Report"
        ],
        "summary": "Get report by user uid",
        "operationId": "getReportByUserUid",
        "parameters": [
          {
            "name": "userUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReportResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/quiz/progress": {
      "get": {
        "tags": [
          "Quiz"
        ],
        "summary": "Get quiz all progress",
        "operationId": "getProgress",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseProgressQuizResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/quiz/modules/{moduleId}/progress": {
      "get": {
        "tags": [
          "Quiz"
        ],
        "summary": "Get quiz progress by module",
        "operationId": "getProgressByModule",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseProgressQuizModuleResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Quiz"
        ],
        "operationId": "resetProgress",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/quiz/courses/{courseId}/progress": {
      "get": {
        "tags": [
          "Quiz"
        ],
        "summary": "Get quiz progress by course",
        "operationId": "getProgressByCourse",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseProgressQuizCourseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/modules/{moduleId}": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Get module by id",
        "operationId": "getModule",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseModuleView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/modules/{moduleId}/cards": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Get cards by module id",
        "operationId": "getModulesByCourseId",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCardsView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/manager/modules/{moduleId}/cards": {
      "get": {
        "tags": [
          "Management"
        ],
        "summary": "Get cards by module id",
        "operationId": "getCardsByModuleId",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCardsView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/manager/courses/{courseId}/modules": {
      "get": {
        "tags": [
          "Management"
        ],
        "summary": "Get modules by course id",
        "operationId": "getModulesByCourseId_1",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseModulesView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/library/order/{orderNumber}": {
      "get": {
        "tags": [
          "Library order"
        ],
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseLibraryOrderResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/favorites/modules/{moduleId}/cards": {
      "get": {
        "tags": [
          "Favorites"
        ],
        "summary": "Get cards favorites by module",
        "operationId": "getCardsFavoritesByModuleId",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCardsView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/favorites/courses/{courseId}/cards": {
      "get": {
        "tags": [
          "Favorites"
        ],
        "summary": "Get cards favorites by module",
        "operationId": "getCardsFavoritesByCourseId",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCardsView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/courses": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Get courses by filter",
        "operationId": "getCourses",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Course category filter",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "A1",
                "A2",
                "B1",
                "B2",
                "C1",
                "C2",
                "SPEAKING",
                "READING",
                "WRITING"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCoursesView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/courses/{courseId}": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Get course by id",
        "operationId": "getCourse",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCourseView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/courses/{courseId}/modules": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Get modules by course id",
        "operationId": "getModulesByCourseId_2",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseModulesView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/courses/library": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Get my course library",
        "operationId": "getLibrary",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCoursesView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/cards/{cardId}": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Get card by id",
        "operationId": "getCard",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCardView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/admin/clear_cache": {
      "get": {
        "tags": [
          "Admin"
        ],
        "operationId": "clearCache",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/manager/translation/{translationId}": {
      "delete": {
        "tags": [
          "Management"
        ],
        "summary": "Delete translation by id",
        "operationId": "delete_5",
        "parameters": [
          {
            "name": "translationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/manager/sample/{sampleId}": {
      "delete": {
        "tags": [
          "Management"
        ],
        "summary": "Delete sample by id",
        "operationId": "delete_6",
        "parameters": [
          {
            "name": "sampleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/api/v1/favorites/cards/{cardId}": {
      "delete": {
        "tags": [
          "Favorites"
        ],
        "summary": "Remove a card from favorites",
        "operationId": "removeCardFromFavorites",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNoContentView"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CardRequest": {
        "type": "object",
        "properties": {
          "term": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "translations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranslationRequest"
            }
          },
          "samples": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SampleRequest"
            }
          },
          "moduleId": {
            "type": "integer",
            "format": "int64"
          },
          "displayOrder": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ModuleRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "isPaid": {
            "type": "boolean"
          },
          "isPublic": {
            "type": "boolean"
          },
          "cards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardRequest"
            }
          },
          "courseId": {
            "type": "integer",
            "format": "int64"
          },
          "displayOrder": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SampleRequest": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "translation": {
            "type": "string"
          },
          "locale": {
            "type": "string",
            "enum": [
              "RU",
              "UZ",
              "EN"
            ]
          },
          "cardId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "TranslationRequest": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "locale": {
            "type": "string",
            "enum": [
              "RU",
              "UZ",
              "EN"
            ]
          },
          "cardId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ApiResponseModuleView": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/ModuleView"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "CardView": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "term": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "translations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranslationView"
            }
          },
          "samples": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SampleView"
            }
          }
        }
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "uid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ModuleView": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "cards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardView"
            }
          },
          "public": {
            "type": "boolean"
          },
          "paid": {
            "type": "boolean"
          }
        }
      },
      "SampleView": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "value": {
            "type": "string"
          },
          "translation": {
            "type": "string"
          },
          "locale": {
            "type": "string",
            "enum": [
              "RU",
              "UZ",
              "EN"
            ]
          }
        }
      },
      "TranslationView": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "value": {
            "type": "string"
          },
          "locale": {
            "type": "string",
            "enum": [
              "RU",
              "UZ",
              "EN"
            ]
          }
        }
      },
      "CourseDescriptionRequest": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "locale": {
            "type": "string",
            "enum": [
              "RU",
              "UZ",
              "EN"
            ]
          }
        }
      },
      "CourseRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "A1",
              "A2",
              "B1",
              "B2",
              "C1",
              "C2",
              "SPEAKING",
              "READING",
              "WRITING"
            ]
          },
          "isPublic": {
            "type": "boolean"
          },
          "cover": {
            "type": "string"
          },
          "modules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModuleRequest"
            }
          },
          "descriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CourseDescriptionRequest"
            }
          },
          "displayOrder": {
            "type": "integer",
            "format": "int32"
          },
          "cost": {
            "type": "number"
          }
        }
      },
      "ApiResponseCourseView": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/CourseView"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "CourseCategoryView": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "A1",
              "A2",
              "B1",
              "B2",
              "C1",
              "C2",
              "SPEAKING",
              "READING",
              "WRITING"
            ]
          }
        }
      },
      "CourseDescriptionView": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "value": {
            "type": "string"
          },
          "locale": {
            "type": "string",
            "enum": [
              "RU",
              "UZ",
              "EN"
            ]
          }
        }
      },
      "CourseView": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "category": {
            "$ref": "#/components/schemas/CourseCategoryView"
          },
          "inLibrary": {
            "type": "boolean"
          },
          "purchased": {
            "type": "boolean"
          },
          "cover": {
            "type": "string"
          },
          "descriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CourseDescriptionView"
            }
          },
          "modules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModuleView"
            }
          },
          "cost": {
            "type": "number"
          },
          "public": {
            "type": "boolean"
          },
          "paid": {
            "type": "boolean"
          }
        }
      },
      "ApiResponseCardView": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/CardView"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "TrainingRequest": {
        "type": "object",
        "properties": {
          "cardId": {
            "type": "integer",
            "format": "int64"
          },
          "known": {
            "type": "boolean"
          }
        }
      },
      "ApiResponseNoContentView": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/NoContentView"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "NoContentView": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "AnswerQuizRequest": {
        "type": "object",
        "properties": {
          "answerId": {
            "type": "integer",
            "format": "int64"
          },
          "cardId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AnswerResponse": {
        "type": "object",
        "properties": {
          "cardId": {
            "type": "integer",
            "format": "int64"
          },
          "term": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "translationRu": {
            "type": "string"
          },
          "translationUz": {
            "type": "string"
          },
          "correctAnswer": {
            "type": "boolean"
          }
        }
      },
      "ApiResponseQuizWrapperResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/QuizWrapperResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "QuizResponse": {
        "type": "object",
        "properties": {
          "card": {
            "$ref": "#/components/schemas/CardView"
          },
          "answers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnswerResponse"
            }
          }
        }
      },
      "QuizWrapperResponse": {
        "type": "object",
        "properties": {
          "quizResponse": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QuizResponse"
            }
          }
        }
      },
      "PomodoroRequest": {
        "type": "object",
        "properties": {
          "minutes": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ApiResponsePomodoroResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/PomodoroResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "PomodoroResponse": {
        "type": "object",
        "properties": {
          "courseId": {
            "type": "integer",
            "format": "int64"
          },
          "minutes": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CreateGoogleSubscription": {
        "type": "object",
        "properties": {
          "packageName": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "purchaseToken": {
            "type": "string"
          }
        }
      },
      "VerifySubscription": {
        "type": "object",
        "properties": {
          "cardUid": {
            "type": "string",
            "format": "uuid"
          },
          "smsCode": {
            "type": "integer",
            "format": "int32"
          },
          "period": {
            "type": "integer",
            "format": "int64"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "CreateSubscription": {
        "type": "object",
        "properties": {
          "cardNumber": {
            "type": "string"
          },
          "expireDate": {
            "type": "string"
          }
        }
      },
      "ApiResponseNewTokenCard": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/NewTokenCard"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "NewTokenCard": {
        "type": "object",
        "properties": {
          "cardUid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ApiResponseFileDataView": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/FileDataView"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "FileDataView": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string"
          },
          "filePath": {
            "type": "string"
          },
          "fullFilePath": {
            "type": "string"
          }
        }
      },
      "ApiResponseGeneratedLinks": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/GeneratedLinks"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "GeneratedLinks": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string"
          },
          "limit": {
            "type": "integer",
            "format": "int64"
          },
          "links": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "LibraryOrderRequest": {
        "type": "object",
        "properties": {
          "courseId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ApiResponseLibraryOrderResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/LibraryOrderResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "LibraryOrderResponse": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string"
          },
          "courseId": {
            "type": "integer",
            "format": "int64"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "ERROR",
              "NEW",
              "WAITING",
              "PREPARE",
              "COMPLETE"
            ]
          }
        }
      },
      "CardFavoritesRequest": {
        "type": "object",
        "properties": {
          "cardId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AddToLibraryGoogleRequest": {
        "type": "object",
        "properties": {
          "packageName": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "purchaseToken": {
            "type": "string"
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "ApiResponseUserView": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/UserView"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "RoleView": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "ROLE_USER",
              "ROLE_AUTHOR"
            ]
          }
        }
      },
      "UserView": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "format": "uuid"
          },
          "username": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoleView"
            }
          }
        }
      },
      "TelegramLoginRequest": {
        "type": "object",
        "properties": {
          "initData": {
            "type": "string"
          }
        }
      },
      "ApiResponseTokenDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/TokenDto"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "TokenDto": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "expireAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "userUid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "UserRegistrationRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "confirmationCode": {
            "type": "string"
          },
          "idempotencyKey": {
            "type": "string"
          }
        }
      },
      "UserLoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "GoogleTokenRequest": {
        "type": "object",
        "properties": {
          "idToken": {
            "type": "string"
          }
        }
      },
      "EmailConfirmationRequest": {
        "type": "object",
        "description": "Type of confirmation",
        "properties": {
          "email": {
            "type": "string"
          },
          "idempotencyKey": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "REGISTRATION",
              "CHANGE_PASSWORD"
            ]
          }
        }
      },
      "SessionAnalytics": {
        "type": "object",
        "properties": {
          "startedAtUtc": {
            "type": "string",
            "format": "date-time"
          },
          "endedAtUtc": {
            "type": "string",
            "format": "date-time"
          },
          "timezone": {
            "type": "string"
          }
        }
      },
      "SessionsAnalytics": {
        "type": "object",
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionAnalytics"
            }
          }
        }
      },
      "ApiResponseListTrainingResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrainingResponse"
            }
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "TrainingProgressResponse": {
        "type": "object",
        "properties": {
          "favorites": {
            "type": "boolean"
          },
          "known": {
            "type": "boolean"
          },
          "answered": {
            "type": "boolean"
          }
        }
      },
      "TrainingResponse": {
        "type": "object",
        "properties": {
          "card": {
            "$ref": "#/components/schemas/CardView"
          },
          "progress": {
            "$ref": "#/components/schemas/TrainingProgressResponse"
          }
        }
      },
      "ApiResponseSubscriptionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/SubscriptionResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "SubscriptionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "expiredAt": {
            "type": "string",
            "format": "date"
          },
          "statusCode": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "DEACTIVATED"
            ]
          },
          "sourceCode": {
            "type": "string",
            "enum": [
              "CLICK",
              "GOOGLE"
            ]
          }
        }
      },
      "ApiResponseReportResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/ReportResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "CardsReportResponse": {
        "type": "object",
        "properties": {
          "known": {
            "type": "integer",
            "format": "int32"
          },
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "progress": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "CoursesReportResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "active": {
            "type": "integer",
            "format": "int32"
          },
          "complete": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ReportResponse": {
        "type": "object",
        "properties": {
          "sessions": {
            "$ref": "#/components/schemas/SessionReportResponse"
          },
          "cards": {
            "$ref": "#/components/schemas/CardsReportResponse"
          },
          "training": {
            "$ref": "#/components/schemas/TrainingReportResponse"
          },
          "courses": {
            "$ref": "#/components/schemas/CoursesReportResponse"
          }
        }
      },
      "SessionReportResponse": {
        "type": "object",
        "properties": {
          "minutesToDay": {
            "type": "integer",
            "format": "int64"
          },
          "minutesInWeek": {
            "type": "integer",
            "format": "int64"
          },
          "minutesAllTime": {
            "type": "integer",
            "format": "int64"
          },
          "visits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VisitReportResponse"
            }
          }
        }
      },
      "TrainingReportResponse": {
        "type": "object",
        "properties": {
          "known": {
            "type": "integer",
            "format": "int32"
          },
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "progress": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "VisitReportResponse": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ApiResponseProgressQuizResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/ProgressQuizResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "ProgressQuizResponse": {
        "type": "object",
        "properties": {
          "percent": {
            "type": "number"
          },
          "success": {
            "type": "integer",
            "format": "int32"
          },
          "failure": {
            "type": "integer",
            "format": "int32"
          },
          "total": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ApiResponseProgressQuizModuleResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/ProgressQuizModuleResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "ProgressQuizModuleResponse": {
        "type": "object",
        "properties": {
          "moduleId": {
            "type": "integer",
            "format": "int64"
          },
          "progress": {
            "$ref": "#/components/schemas/ProgressQuizResponse"
          }
        }
      },
      "ApiResponseProgressQuizCourseResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/ProgressQuizCourseResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "ProgressQuizCourseResponse": {
        "type": "object",
        "properties": {
          "courseId": {
            "type": "integer",
            "format": "int64"
          },
          "progress": {
            "$ref": "#/components/schemas/ProgressQuizResponse"
          },
          "modules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProgressQuizModuleResponse"
            }
          }
        }
      },
      "ApiResponseCardsView": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/CardsView"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "CardsView": {
        "type": "object",
        "properties": {
          "cards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardView"
            }
          }
        }
      },
      "ApiResponseCoursesView": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/CoursesView"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "CoursesView": {
        "type": "object",
        "properties": {
          "courses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CourseView"
            }
          }
        }
      },
      "ApiResponseModulesView": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/ModulesView"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      },
      "ModulesView": {
        "type": "object",
        "properties": {
          "modules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModuleView"
            }
          }
        }
      },
      "AnalyticsSessionTMP": {
        "type": "object",
        "properties": {
          "startedAtUtc": {
            "type": "string",
            "format": "date-time"
          },
          "endedAtUtc": {
            "type": "string",
            "format": "date-time"
          },
          "timezoneOffset": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          }
        }
      },
      "ApiResponseListAnalyticsSessionTMP": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnalyticsSessionTMP"
            }
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        }
      }
    },
    "securitySchemes": {
      "JWT": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}